<h1>Contestant: <%= @contestant.name %></h1>
<p>Has: <%= @contestant.years_of_experience %> years of experience</p>
<p>Has Representative? <%= @contestant.has_representative %></p>
<a href="/contestants/<%= @contestant.id %>/edit">Update Contestant</a>
<p><%= button_to "Delete", "/contestants/#{@contestant.id}", method: :delete %></p>