<h1>Register a new Pageant</h1>
<%= form_with url: '/pageants', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  
  <%= form.label :version_number %>
  <%= form.number_field :version_number %><br>

  <%= form.label :scheduled %>
  <%= form.select :scheduled, [['True', true], ['False', false]] %><br>

  <%= form.submit "Create Pageant" %>
<% end %>