<h1>Pageant's Name:<%= @pageant.name %></h1>
<li>Scheduled? <%= @pageant.scheduled %><li>
<li>Version Number <%= @pageant.version_number %></li>
<li><%= @pageant.name %> has <%= @pageant.contestants.count %> contestants.</li>
<br><a href="/pageants/<%= @pageant.id %>/contestants"> Pageant Contestants</a>
<br><a href="/pageants/<%= @pageant.id %>/edit"> Update Pageant</a>
<br><a href="/pageants/<%= @pageant.id %>/contestants/new"> Create Contestant</a>
<br><%= button_to "Delete", "/pageants/#{@pageant.id}", method: :delete %> 